<%- partial('_partials/title-slide',{variation:'meta',title:"Hello"}) %>

<%- partial('_partials/title-slide',{variation:'intro',title:"Digital Prototyping"}) %>

<%- partial('_partials/title-slide',{variation:'sub-emphasis',title:"Why do we prototype?"}) %>

<%- partial('_partials/title-subtitle-slide',{variation:'minor',title:"To test a value proposition",subtitle:"Your ability to prove value to your users and give them a reason to buy into your product or service."}) %>

<%- partial('_partials/title-slide',{variation:'minor',title:"...so let's make that testable"}) %>

<%- partial('_partials/title-subtitle-slide',{variation:'minor heart',title:"User Experience Metrics",subtitle:"Google's <a href='https://www.gv.com/lib/how-to-choose-the-right-ux-metrics-for-your-product'>HEART framework</a>."}) %>

<!-- HEART -->
<%- partial('_partials/heart-letter',{variation:'heart',letter:"H",word:"Happiness",definition:'measures of user attitudes'}) %>

<%- partial('_partials/heart-letter',{variation:'heart',letter:"E",word:"Engagement",definition:'level of user involvement'}) %>

<%- partial('_partials/heart-letter',{variation:'heart',letter:"A",word:"Adoption",definition:'does your target audience want this?'}) %>

<%- partial('_partials/heart-letter',{variation:'heart',letter:"R",word:"Retention",definition:'can we keep them?'}) %>

<%- partial('_partials/heart-letter',{variation:'heart',letter:"T",word:"Task Success",definition:'is the experience intuitive and effective?'}) %>

<%- partial('_partials/fullscreen-image',{variation:'',image:"img/apple-music.jpeg"}) %>

<%- partial('_partials/title-slide',{variation:'sub-emphasis',title:"Why do we prototype in code?"}) %>

<section>
  <div>
    <h1>When a personalized user journey is critical to evaluating the experience.</h1>
    <p class='major'>Example: <a href='https://www.virginamerica.com/'>booking a flight</a>
  </div>
</section>

<section>
  <div>
    <h1>When the system plays an active role in the experience.</h1>
  </div>
</section>

<%- partial('_partials/image-slide',{variation:'',image:"img/iids.jpg"}) %>
<%- partial('_partials/fullscreen-image',{image:"img/bloomberg-terminal.jpg"}) %>

<!-- motion studies -->
<%- partial('_partials/motion-study') %>

<!-- technical poc -->
<%- partial('_partials/title-subtitle-slide',{variation:' ',title:"The Technical POC",subtitle:"Technology-driven protoypes."}) %>

<%- partial('_partials/title-slide',{variation:'skankphone major',title:" "}) %>


<!-- tools -->
<%- partial('_partials/title-subtitle-slide',{variation:'emphasis',title:"Tools",subtitle:'Selecting the right apps, code languages etc.'}) %>

<%- partial('_partials/title-subtitle-slide',{variation:'',title:"The 10 minute test",subtitle:"If you can't figure out how it works in 10 minutes run away."}) %>

<section>
  <div>
    <h2>10 minute test questions</h2>
    <ul>
      <li>Is there good documentation?</li>
      <li>Is there training?</li>
      <li>Are there examples or starter templates I can work with?</li>
      <li>Can I pick this up and make progress in 10 min?</li>
    </ul>
  </div>
</section>

<section>
  <div>
    <p class='major'>Wordpress and the <a href='https://www.elegantthemes.com/blog/tips-tricks/putting-the-famous-wordpress-5-minute-install-to-the-test'>famous 5 minute install</a></p>
  </div>
</section>

<%- partial('_partials/image-slide',{variation:' ',image:"img/golf.gif"}) %>

<%- partial('_partials/title-slide',{variation:'sub-emphasis',title:"My recommendation for the beginner"}) %>

<%- partial('_partials/title-slide',{variation:'',title:"Using Apps - <a href='http://bohemiancoding.com/sketch/'>Sketch</a> &amp; <a href='http://framerjs.com/'>Framer</a>"}) %>

<%- partial('_partials/title-slide',{variation:'sub-emphasis',title:"My recommendation for the intermediate/expert"}) %>

<%- partial('_partials/title-slide',{variation:'',title:"Hand coding with <a href='http://getbootstrap.com/'>Bootstrap</a>"}) %>

<section>
  <div>
    <p class='major'>UI Libraries give you a toolkit of components and layout grids to build with. They require basic html, css and javascript to work with what comes out of the box.
      <br/>
      <br/>
      If you've got more .css or javascript experience you can go deeper into customizing the look and feel or the functionality.
    </p>
  </div>
</section>

<%- partial('_partials/title-slide',{variation:'emphasis',title:"The Do's & Don'ts of Prototyping in Code"}) %>

<%- partial('_partials/title-subtitle-slide',{variation:'dont',title:"Don't forget about paper prototyping!",subtitle:"Don't run directly to code. Pick the appropriate medium for your prototype. Code has a production cost."}) %>

<section class='do'>
  <div>
    <h1>Manage expectations</h1>
    <h2>Including your own</h2>
    <p>When presenting to users, always lead the conversation by framing expectations on the available functionality and the level of fidelity in the prototype.</p>
    <p>To manage your own expectations, be reasonable about the level of fidelity and functionality required for a successful prototype.</p>
  </div>
</section>

<%- partial('_partials/title-subtitle-slide',{variation:'dont',title:"Don't overcomplicate it!",subtitle:"As simple as possible, but not simpler."}) %>

<%- partial('_partials/title-subtitle-slide',{variation:'dont',title:"Don't let the design or technology get away from you.",subtitle:"Digital tools can accelerate production but they can also pull you into trivial details."}) %>


<%- partial('_partials/image-slide',{variation:'dont',image:"img/hal.gif"}) %>

<section class='do'>
  <div>
    <h1>Read this book</h1>
    <p class='author'>Prototyping, A Practitioner's Guide <span>By Todd Zaki Warfel</span></p>
    <a href='http://rosenfeldmedia.com/books/prototyping/'><img class='book' src='img/rosenfeld-prototyping.jpg'/></a>
  </div>
</section>


<%- partial('_partials/title-slide',{variation:'meta',title:"Thank you"}) %>

